apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      format json
      read_from_head true
    </source>

    <match kubernetes.**>
      @type cloudwatch_logs
      log_group_name /eks/eks-dev-dev/application
      log_stream_name_key stream_name
      auto_create_stream true
      region ap-southeast-2
    </match>
